src/audio_extract/input/*
src/audio_extract/output/*
Lib/
Scripts/
bin/
src/audio_extract/__pycache__/
src/audio_extract/Include/
src/audio_extract/input/
src/audio_extract/output/
dist/
build/


*.pyc
*.mp3
*.wav

pyvenv.cfg

