
Lib/
Scripts/
bin/
src/audio_extract/__pycache__/
src/audio_extract/Include/
src/audio_extract/input/
src/audio_extract/output/
dist/
build/

.env/
.venv/

*.pyc
*__pycache__*


src/audio_extract/input/*
src/audio_extract/output/*


*.mp3
*.wav
!tests/input_test/test.mp3

pyvenv.cfg

# for tests
tests/output_test/*
tests/output_test/
.pytest*