name: Testing commit

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.12'
    
    - name: Install FFMPEG
      run: sudo apt install ffmpeg -y
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install uv
        uv venv
        uv pip install .[dev]
      
    - name: Test code
      run: uv run pytest


    
